.faq-section {
    margin: 0 30px;
    
     @include breakpoint (max-xxl){
        margin: 0 15px;
        padding-left: 14px !important;
        padding-right: 14px !important;
    }
}

.faq-image-1 {
    border-radius: 16px;
    position: relative;

    @include breakpoint (max-xl4){
        height: 830px;

        img {
            object-fit: cover;
        }
    }

    @include breakpoint (max-lg){
        height: initial;
    }
    

    .incrase-box {
        background-color: $header-color;
        padding: 30px;
        padding-top: 60px;
        position: absolute;
        bottom: 35px;
        right: 35px;
        border-radius: 8px;
        display: flex;
        align-items: end;
        gap: 50px;

        @include breakpoint (max-sm){
            display: none;
        }

        h6 {
            font-size: 16px;
            font-weight: 600;
            color: $white;
            position: absolute;
            top: 30px;
            left: 30px;
        }

        h3 {
            color: $white;
            font-size: 72px;
            font-weight: 500;
            letter-spacing: -3px;
            line-height: 1;
            margin-bottom: -8px;
        }

        img {
            width: initial;
            height: initial;
            border-radius: 0
        }
    }

    img {
        @include imgw;
        border-radius: 16px;
    }
}

.faq-content-1 {
    background-color: $bg-color;
    border-radius: 16px;
    padding-left: 50px !important;
    padding-right: 50px !important;

    @include breakpoint (max-xl){
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .accordion-box {
        position: relative;
        margin-top: 50px;
        max-width: 600px;
        border-top: 1px solid rgba(15, 23, 42, 0.1);
        padding-top: 30px;

        @include breakpoint (max-md){
            margin-top: 30px;
        }

        .block {
            position: relative;
            background-color: transparent;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(15, 23, 42, 0.1);
            margin-bottom: 30px;
            line-height: 1;
            padding-bottom: 32px;
            padding-left: 66px;

             @include breakpoint (max-md){
                padding-left: 40px;
            }

            .acc-btn {
                position: relative;
                font-size: 24px;
                color: $header-color;
                font-weight: 500;
                font-family: $heading-font;
                cursor: pointer;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                @include breakpoint (max-xxs){
                    font-size: 20px;
                }

                .number {
                    color: $text-color;
                    font-family: $heading-font;
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing: -3px;
                    margin-left: -50px;
                    margin-right: 15px;
                }


                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 35px;
                    font-size: 18px;
                    line-height: 18px;
                    color: $header-color;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                }
            }

            .acc-content {
                position: relative;
                display: none;
                margin-top: 22px;

                @include breakpoint (max-xxs){
                    margin-top: 10px;
                }

                .content {
                    position: relative;

                    .text {
                        line-height: 175%;
                        font-size: 16px;
                        font-weight: 400;
                        color: $header-color;
                        max-width: 455px;

                        @include breakpoint (max-xl){
                            font-size: 14px;
                        }

                        @include breakpoint (max-xxs){
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }

    .accordion-box .block .acc-content.current {
        display: block;
    }

    .accordion-box .block .acc-btn.active .icon:before {
        content: "\f062";
        color: $theme-color;
    }

    .accordion-box .block .acc-btn.active {
        color: $theme-color;
    }

    .accordion-box .block:last-child {
        margin-bottom: 0;
    }
}

.faq-items-2 {
    .accordion-box {
        position: relative;
        margin-top: 50px;
        border-top: 1px solid rgba(15, 23, 42, 0.1);
        padding-top: 30px;

        @include breakpoint (max-md){
            margin-top: 30px;
        }

        .block {
            position: relative;
            background-color: transparent;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(15, 23, 42, 0.1);
            margin-bottom: 30px;
            line-height: 1;
            padding-bottom: 32px;

             @include breakpoint (max-md){
                padding-left: 40px;
                line-height: 1.3;
            }

            .acc-btn {
                position: relative;
                font-size: 24px;
                color: $header-color-3;
                font-weight: 600;
                font-family: $heading-font;
                cursor: pointer;
                -webkit-transition: all 500ms ease;
                transition: all 500ms ease;

                @include breakpoint (max-xl){
                    padding-right: 40px;
                }

                @include breakpoint (max-xxs){
                    font-size: 20px;
                }

                .number {
                    color: $text-color;
                    font-family: $heading-font;
                    font-size: 32px;
                    font-weight: 500;
                    letter-spacing: -3px;
                    margin-left: -50px;
                    margin-right: 15px;
                }


                .icon {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 35px;
                    font-size: 16px;
                    line-height: 18px;
                    color: $white;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 50%;
                    background-color: $header-color-3;
                }
            }

            .acc-content {
                position: relative;
                display: none;
                margin-top: 22px;

                @include breakpoint (max-xxs){
                    margin-top: 10px;
                }

                .content {
                    position: relative;

                    .text {
                        line-height: 175%;
                        font-size: 18px;
                        font-weight: 400;
                        color: $header-color-3;
                        opacity: 0.8;
                        max-width: 675px;

                        @include breakpoint (max-xl){
                            font-size: 14px;
                        }

                        @include breakpoint (max-xxs){
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        li {
            position: relative;

            .number {
                color: $header-color-3;
                font-family: $heading-font;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: -1.5px;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(-90deg);

                @include breakpoint (max-lg){
                    display: none;
                }
            }
        }
    }

    .accordion-box .block .acc-content.current {
        display: block;
    }

    .accordion-box .block .acc-btn.active .icon:before {
        content: "\f00d";
        
    }

     .accordion-box .block .acc-btn.active .icon {
        background-color: $theme-color-3;
     }

    .accordion-box .block .acc-btn.active {
        color: $theme-color-3;
    }

    .accordion-box .block:last-child {
        margin-bottom: 0;
    }

    &.style-faq-2 {
        .accordion-box {
            position: relative;
            margin-top: 0;
            border-top: none;
            padding-top: 0;

            .block {
                position: relative;
                background-color: #F2F5F7;
                margin-bottom: 10px;
                border-bottom:none;
                margin-bottom: 30px;
                border-radius: 8px;
                line-height: 1;
                padding: 30px 30px;

                @include breakpoint (max-md){
                    padding-left: 30px;
                    line-height: 1.3;
                }

                .acc-btn {
                    position: relative;
                    font-size: 24px;
                    color: $header-color;
                    font-weight: 600;
                    font-family: $heading-font;
                    cursor: pointer;
                    -webkit-transition: all 500ms ease;
                    transition: all 500ms ease;

                    @include breakpoint (max-xl){
                        font-size: 20px;
                        padding-right: 60px !important;
                    }

                     @include breakpoint (max-sm){
                        font-size: 18px;
                        padding-right: 60px !important;
                    }

                    &.active {
                        color: $theme-color;

                        .icon {
                            background-color: $theme-color;
                            color: $white;
                        }
                    }

                    @include breakpoint (max-xl){
                        padding-right: 0;
                    }

                    @include breakpoint (max-xxs){
                        font-size: 20px;
                    }
                    .icon {
                        color: $white;
                        background-color: $header-color;
                    }
                }

                .acc-content {
                    margin-top: 22px;

                    @include breakpoint (max-xxs){
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

.faq-about {
    border-top: 1px solid #E6E8EB;
}