.team-section-3 {
   margin: 0 30px;
   border-radius: 16px;

    @include breakpoint (max-xxl){
        margin: 0 15px;
        padding-left: 14px !important;
        padding-right: 14px !important;
    }

   .section-title {
        p {
            color: $header-color-3;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: -1px;
            line-height: 155.556%;
            max-width: 270px;
            margin-top: 25px;
            margin-bottom: 30px;
        }
   }
}

.team-box-item-3 {

    .thumb {
        overflow: hidden;
        position: relative;
        border-radius: 10px;

        img {
            @include imgw;
            border-radius: 10px;
            display: block;
            object-fit: cover;
            transition: all 500ms ease;

            &:first-child {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                transform: translateX(50%) scaleX(2);
                opacity: 0;
                filter: blur(10px);
            }
        }
        .social-icon {
            @include flex;
            gap: 10px;
            justify-content: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scale(0.8);
            left: 0;
            right: 0;
            z-index: 99;
            opacity: 0;
            visibility: hidden;
            transition: all 0.5s ease;

            a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                color: $white;
                background-color: $theme-color-3;
                font-size: 14px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $header-color-3;
                }
            }
        }
    }

    .content {
        margin-top: 20px;
        position: relative;

        .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 32px;
            border-radius: 50%;
            text-align: center;
            background-color: rgba(31, 41, 55, 0.35);
            color: $white;
            position: absolute;
            right: 0;
            top: 0;

            &:hover {
                background-color: $theme-color-3;
            }
        }

        h3 {
            font-weight: 600;

            a {
                color: $header-color-3;
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                transition: all 0.3s ease;

                &:hover {
                    color: $theme-color-3;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color-3 0%, $theme-color-3 100%);
                }
            }
        }
    }

    &.style-2 {
        .thumb {
            .social-icon {
                a {
                    width: 40px;
                    color: $white;
                    background-color: $theme-color;

                    &:hover {
                        background-color: $header-color-3;
                    }
                }
            }
        }

        .content {
            .icon {
                background-color: rgba(31, 41, 55, 0.35);

                &:hover {
                    background-color: $theme-color;
                }
            }

            h3 {
                font-weight: 600;

                a {
                    color: $header-color;

                    &:hover {
                        color: $theme-color;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                    }
                }
            }
        }
    }

    &:hover {
        .thumb {
            img {
                &:first-child {
                    transform: translateX(0) scaleX(1);
                    opacity: 1;
                    filter: blur(0);
                }

                &:nth-child(2) {
                    transform: translateX(-50%) scaleX(2);
                    opacity: 0;
                    filter: blur(10px);
                }
            }
            .social-icon {
                opacity: 1;
                visibility: visible;
                transform: translateY(-50%) scale(1);
            }
        }
    }
}

.team-section-3 {
    position: relative;
    z-index: 9;

    .line-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;

        img {
            width: 100%;
        }
    }
}

.team-details-wrapper {
    .team-details-image {
        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .team-details-content {
        margin-left: 30px;
        background-color: #F2F5F7;
        border-radius: 10px;
        padding: 45px 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        .offer {
            background-color: $theme-color;
            color: $white;
            padding: 8px 10px;
            border-radius: 6px;
        }

        h2 {
            margin-top: 30px;
        }
        
        .team-infrom {
            margin-top: 30px;

            li {
                display: flex;
                gap: 100px;
                align-items: center;
                color: $header-color;
                font-size: 16px;
                font-weight: 500;

                @include breakpoint (max-xl){
                    display: grid;
                    gap: 20px;
                }

                span {
                    color: $header-color;
                    font-size: 16px;
                    font-weight: 500;
                    flex-basis: 28%;
                }

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }

        h5 {
            font-size: 16px;
            font-weight: 500;
            margin-top: 60px;
        }
        
        .social-icon {
            display: flex;
            margin-top: 30px;
            gap: 15px;
                
            a {
                color: $white;
                background: rgba(61, 72, 87, 0.5);
                width: 48px;
                height: 48px;
                line-height: 48px;
                display: inline-block;
                text-align: center;
                border-radius: 50%;

                &:hover {
                    background-color: $theme-color;
                    
                }
            }
        }
    }

    .team-middle-items {
        .team-skill-area {
            margin-top: 60px;

            .skill-content {
                margin-right: 60px;

                @include breakpoint (max-xl){
                    margin-right: 0;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                .progress-wrap {
                    .pro-items {
                        width: 100%;
            
                        &:not(:last-child){
                            margin-bottom: 30px;
                        }
                        .pro-head {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 10px;
            
                            .title {
                                color: $header-color;
                            }
                            
                            .point {
                                font-size: 16px;
                                color: $header-color;
                            }
                        }
                        .progress {
                            background: #E6E8EB;
                            justify-content: flex-start;
                            align-items: center;
                            position: relative;
                            display: flex;
                            height: 6px;
                            width: 100%;
                        }
                        
                        .progress-value {
                            animation: load 3s normal forwards;
                            border-radius: 0;
                            background: $header-color;
                            height: 6px;
                            width: 0;
                        }
                        .style-two{
                            animation: load2 3s normal forwards;
                        }
                        .style-three{
                            animation: load3 3s normal forwards;
                        }
                        @keyframes load {
                            0% { width: 0; }
                            100% { width: 69%; }
                        }
                        @keyframes load2 {
                            0% { width: 0; }
                            100% { width: 80%; }
                        }
                        @keyframes load3 {
                            0% { width: 0; }
                            100% { width: 98%; }
                        }
                    }
                }
            }

            .career-content {
                h4 {
                    font-size: 32px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        display: flex;
                        gap: 20px;

                        &:not(:last-child){
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .team-bottom-items {
        margin-top: 120px;
        border-radius: 10px;
        background: #F2F5F7;
        padding: 80px 60px;

        @include breakpoint (max-xl){
            margin-top: 100px;
            padding: 50px;
        }

        @include breakpoint (max-lg){
            margin-top: 80px;
        }

        @include breakpoint (max-md){
           padding: 40px 30px;
        }

        @include breakpoint (max-sm){
           padding: 30px;
        }
        

        .team-left-items {
            p {
                margin-top: 20px;
            }

            .phone-icon {
                display: flex;
                gap: 10px;
                border-radius: 70px;
                border: 1px solid #3D4857;
                display: inline-flex;
                padding: 20px;
                font-weight: 600;
                line-height: 1;
                margin-top: 30px;

                .icon {
                    color: $header-color;
                }
            }
        }

        .team-right-items {
            margin-left: 80px;

            @include breakpoint (max-xl){
                margin-left: 0;
            }

            .contact-form-box {
                margin-top: 30px;

                .form-clt {
                    input,textarea {
                        outline: none;
                        width: 100%;
                        color: $header-color;
                        padding-bottom: 20px;
                        border: none;
                        background: transparent;
                        border-bottom: 1px solid rgba(15, 23, 42, .2);
                        text-transform: capitalize;

                        &::placeholder {
                            color: $header-color;
                        }
                    }

                    textarea {
                        padding-bottom: 120px;
                    }

                    .form {
                    .single-select {
                        border: none;
                        border-bottom: 1px solid rgba(15, 23, 42, .2);
                        background-color: transparent;
                        width: 100%;
                        height: initial;
                        line-height: initial;
                        text-transform: capitalize;
                        color: $header-color;
                        padding-bottom: 20px;
                        border-radius: 0;

                        .current {
                            color: $header-color;
                        }

                        &::after {
                            border-bottom: 2px solid $header-color;
                            border-right: 2px solid $header-color;
                            width: 8px;
                            height: 8px;
                            right: 12px;
                        }

                        .list {
                            width: 100%;
                        }
                    }
                }
                }
            }
        }
    }
}